@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

a {
  color: #007185;
}
a:hover {
  text-decoration: underline;
}

.Toastify__toast--dark {
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem;
}

.map {
  width: 100vw;
  height: calc(100vh - 64px);
  position: relative;
}

.loader {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.loader-text {
  margin-top: 30px;
  font-weight: light;
  font-size: 36px;
}

.marker {
  position: relative;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  transform: translate(-25px, -50px);
}

.marker-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.3rem;
  top: 10px;
}

.custom-badge {
  display: inline-block;
  border: 2px solid white;
  border-radius: 9999px;
  margin: 0 0.25rem;
  padding: 0.3rem 0.75rem;
}

.badge-icon {
  display: inline-block;
  font-size: 1.4rem;
  transform: translate(-3px, -1px);
}

.location-info-box {
  width: 100%;
}

@layer components {
  .info-list-item {
    @apply flex my-4 items-start;
  }

  .info-list-icon {
    @apply text-2xl mr-3;
  }

  .info-list-content {
    @apply font-medium flex-1;
  }
}

@media (min-width: 640px) {
  .location-info-box {
    width: 640px;
  }
}
