@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  padding: 10px;
  background-color: firebrick;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.location-icon {
  font-size: 2rem;
  color: red;
  cursor: pointer;
  transition: 100ms font-size;
}

.location-icon:hover {
  font-size: 2.2rem;
}

.loader {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.loader-text {
  margin-top: 30px;
  font-weight: light;
  font-size: 36px;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 30px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.location-info-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
